#### This script is a template to connect to a MySQL database in AWS RDS and read tables as pandas dataframes.

In [ ]:
#!/usr/bin/env python
#-*- coding: utf-8 -*-

In [ ]:
import pymysql as mysql
import pandas as pd
import numpy as np

In [ ]:
#Enter the values for you database connection
dsn_database = " "
dsn_hostname = " "      
dsn_port = 3306
dsn_uid = " "             
dsn_pwd = " "

In [ ]:
# Establish connection 
conn = mysql.connect(host=dsn_hostname, port=dsn_port, user=dsn_uid, passwd=dsn_pwd, db=dsn_database, charset='utf8mb4')

In [ ]:
# simplifying a cursor object so we can perform queries
c = conn.cursor()

In [ ]:
# display the number of tables in db
c.execute("show tables")

In [ ]:
# names of tables in db
for (table_name,) in c:
    print(table_name)

In [ ]:
# read a table as a dataframe
df = pd.read_sql('select * from table_a', con = conn) # replace 'table_a' with an real table name above

In [ ]:
# review 
df.info()

In [ ]:
# close
c.close()